@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #1a1a1a;
    background: #fff;
}

h1 {
    @apply text-2xl font-bold mb-6;
}

h2 {
    @apply text-xl font-semibold mb-6;
}

.menu li.focus,
.menu li > *:not(ul):not(.menu-title):not(details):focus {
    @apply bg-white text-accent rounded-btn;
}

.logout {
    @apply mt-auto justify-self-end;
}

.form-error-msg {
    color: #9f1239;
    font-size: 0.75rem;
}
